[submodule "janus/splitjoin"]
	path = janus/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "janus/ctrlp"]
	path = janus/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "janus/syntastic"]
	path = janus/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "janus/vim-slim"]
	path = janus/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "janus/nerdcommenter"]
	path = janus/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "janus/vim-surround"]
	path = janus/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "janus/numbers-vim"]
	path = janus/numbers-vim
	url = https://github.com/tpope/vim-surround.git
[submodule "janus/neocomplcache"]
	path = janus/neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "janus/vim-fugitive"]
	path = janus/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "janus/vim-easymotion"]
	path = janus/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "janus/vim-chef"]
	path = janus/vim-chef
	url = https://github.com/dougireton/vim-chef.git
[submodule "janus/vim-airline"]
	path = janus/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "janus/vim-gitgutter"]
	path = janus/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "janus/vim-indent-guides"]
	path = janus/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "janus/jeremy"]
	path = janus/jeremy
	url = https://github.com/jjman505/jeremy.vim.git
[submodule "janus/nerdtree-tabs"]
	path = janus/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "janus/searchcomplete"]
	path = janus/searchcomplete
	url = https://github.com/vim-scripts/SearchComplete.git
[submodule "janus/gist-vim"]
	path = janus/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "janus/emmet"]
	path = janus/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "janus/minibufexpl"]
	path = janus/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
