[submodule "janus/splitjoin"]
	path = janus/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "janus/vim-css3-syntax"]
	path = janus/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "janus/ctrlp"]
	path = janus/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "janus/syntastic"]
	path = janus/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "janus/vim-slim"]
	path = janus/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "janus/nerdcommenter"]
	path = janus/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "janus/vim-surround"]
	path = janus/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "janus/numbers-vim"]
	path = janus/numbers-vim
	url = https://github.com/tpope/vim-surround.git
[submodule "janus/neocomplcache"]
	path = janus/neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "janus/vim-fugitive"]
	path = janus/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "janus/vim-easymotion"]
	path = janus/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "janus/vim-coffee-script"]
	path = janus/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "janus/vim-chef"]
	path = janus/vim-chef
	url = https://github.com/dougireton/vim-chef.git
[submodule "janus/vim-airline"]
	path = janus/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "janus/vim-gitgutter"]
	path = janus/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
