[submodule "janus/splitjoin"]
	path = janus/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "janus/ctrlp"]
	path = janus/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "janus/syntastic"]
	path = janus/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "janus/vim-slim"]
	path = janus/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "janus/vim-surround"]
	path = janus/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "janus/vim-fugitive"]
	path = janus/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "janus/vim-airline"]
	path = janus/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "janus/vim-gitgutter"]
	path = janus/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "janus/nerdtree-tabs"]
	path = janus/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "janus/searchcomplete"]
	path = janus/searchcomplete
	url = https://github.com/vim-scripts/SearchComplete.git
[submodule "janus/gist-vim"]
	path = janus/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "janus/emmet"]
	path = janus/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "colors/jeremy-vim"]
	path = colors/jeremy-vim
	url = https://github.com/jjman505/jeremy-vim.git
[submodule "janus/ag-vim"]
	path = janus/ag-vim
	url = https://github.com/rking/ag.vim.git
[submodule "janus/jade"]
	path = janus/jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "janus/textobj-rubyblock"]
	path = janus/textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "janus/vim-ruby-xmpfilter"]
	path = janus/vim-ruby-xmpfilter
	url = https://github.com/t9md/vim-ruby-xmpfilter.git
[submodule "janus/textobj-user"]
	path = janus/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "janus/windowswap"]
	path = janus/windowswap
	url = https://github.com/wesQ3/vim-windowswap.git
[submodule "janus/tern"]
	path = janus/tern
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "git-undo"]
	path = git-undo
	url = https://github.com/zhangela/git-undo.git
